<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aidana.geotracker_user" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.aidana.geotracker_user.LoginActivitywWebServices"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.CreateAccountActivitywWebServices"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.AccountActivity"
            android:label="@string/account_activity" >
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.NewPasswordActivity"
            android:label="@string/reset_password_activity" >
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.SecurityQuestionActivity"
            android:label="@string/security_question_activity" >
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.MyProfileActivity"
            android:label="@string/my_profile_activity" >
        </activity>
        <activity
            android:name="com.example.aidana.geotracker_user.ForgotPasswordActivitywWebServices"
            android:label="@string/my_forgot_password_activity" >
        </activity>

    </application>

</manifest>
